/TEMA 7/PRACTICA 3/T7P3E1/T7P3E1/nbproject/private/
/TEMA 7/PRACTICA 3/T7P3E1/nbproject/private/
/TEMA 6/PRACTICA 1/T6P1E3/build/
/TEMA 6/PRACTICA 2/T6P2E1-T6P2E2/nbproject/private/
/TEMA 6/PRACTICA 2/T6P2E1-T6P2E2/build/
/TEMA 6/PRACTICA 2/T6P2E3/nbproject/private/
/TEMA 6/PRACTICA 2/T6P2E3/build/
/TEMA 6/PRACTICA ADICIONAL/PA1/nbproject/private/
/TEMA 6/PRACTICA ADICIONAL/PA2/nbproject/private/
/TEMA 6/PRACTICA ADICIONAL/PA3/nbproject/private/
/TEMA 7/PRACTICA 1/T7P1E1/nbproject/private/
/TEMA 7/PRACTICA 1/T7P1E1/build/
/TEMA 7/PRACTICA 1/T7P1E2/nbproject/private/
/TEMA 7/PRACTICA 1/T7P1E2/build/
/TEMA 7/PRACTICA 1/T7P1E3/nbproject/private/
/TEMA 7/PRACTICA 1/T7P1E3/build/
/TEMA 7/PRACTICA 3/T7P3E1/build/
/TEMA 7/PRACTICA 4/T7P4E1/nbproject/private/